/* Design System */

/* content-margin */
.container-margin {
  margin: 0 120px;
}



/* Design System */

nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

li,
a {
  text-decoration: none;
  list-style: none;
  margin: 0 10px;
}