/* Design System */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* content-margin */
.container-margin {
  padding: 16px 64px;
}

.spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Design System */

nav {
  /* padding: 10px; */
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
}

.large-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-menu-list {
  background-color: beige;
  padding: 24px;
  text-align: center;
  display: none;
}

.small-menu-list li,
.fa-cart-shopping {
  margin-bottom: 10px;
}

.small-menu-list:hover {
  color: #cf0606;
}

.small-menu-list.show {
  display: block;
}

#Pages {
  border: transparent;
  text-transform: uppercase;
  font-weight: 800;
  font-family: monospace;
  background-color: transparent;
}

#Pages:hover {
  color: #cf0606;
}

li,
a {
  /* text-transform: uppercase; */
  text-decoration: none;
  list-style: none;
  /* margin: 0 10px; */
  font-size: 0.9rem;
  color: #002c3e;
  font-weight: 900;
  font-family: monospace;
}

.large-menu-list li,
.large-menu-list a {
  /* text-transform: uppercase;
  text-decoration: none;
  list-style: none; */
  margin: 0 10px;
  /* font-size: 0.9rem;
  color: #002c3e;
  font-weight: 900;
  font-family: monospace; */
}

a:hover {
  color: #cf0606;
}

.menu {
  font-size: 34px;
  display: none;
}

.fa-magnifying-glass,
.fa-cart-shopping {
  color: #002c3e;
  font-size: 1rem;
  margin-left: 10px;
}

.fa-magnifying-glass:hover,
.fa-cart-shopping:hover {
  color: #cf0606;
  cursor: pointer;
}

.svg-icon {
  width: 4.5rem;
  fill: #fff;
  margin: 16px 0;
}

h3 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 10px;
}

/* HERO CSS */

.hero-section,
.New-arrival {
  background-color: #b9b9b9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 0 0px;
}
.hero-txt {
  width: 40%;
  font-size: 1.5rem;
  line-height: 1;
}
.hero-txt span {
  color: #cf0606;
  font-weight: 800;
  font-size: 72px;
}
.hero-txt p {
  margin-bottom: 45px;
}
.hero-txt h2 {
  font-size: 72px;
  font-weight: 800;
  color: #002c3e;
  margin-bottom: 2rem;
}
button {
  background-color: #cf0606;
  color: white;
  padding: 15px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  width: 200px;
  /* margin-top: 2rem; */
}
button:hover,
.subscribe-input button:hover {
  background-color: transparent;
  border: 2px solid #cf0606;
  color: #cf0606;
  transition: all 0.3s ease-in-out;
}

/* HERO CSS */

/* About us CsS */

.about-us-section {
  background-color: #002c3e;
  color: white;
  padding: 40px;
  width: 350px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.about-us-section p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.About-us {
  background-color: #f0f0f0;
  padding: 30px;
}

.About-us header {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;
  padding: 24px;
}

.About-us header::after,
.Product header::after {
  content: "";
  display: block;
  width: 70px;
  height: 5px;
  background: #cf0606;
  margin: 10px auto 10px;
}

.about-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
/* NEW ARRIVAL CSS */
.new-txt {
  font-size: 1.5rem;

  width: 40%;
}
.new-txt p {
  margin-bottom: 45px;
}
.new-txt h6 {
  font-size: 64px;
  color: #002c3e;
}
/* NEW ARRIVAL CSS */

/* Product CSS */

.Product {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.Product span {
  color: #cf0606;
  font-size: 2.5rem;
}
.Product header {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 24px;
}
.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  width: 80%;
  margin-bottom: 45px;
}
article {
  background-color: #d4d3d3;
  padding: 20px;
  box-shadow: #2c2c2c 0px 0px 10px;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: Helvetica, sans-serif;
}

/* Subscribe CSS */

.subscribe {
  background-color: #b9b9b9;
  padding: 60px;
  text-align: center;
  font-size: 1.3rem;
}
.subscribe h6 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #002c3e;
}
.subscribe-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscribe-input button {
  background-color: #cf0606;
  color: white;
  padding: 15px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  width: 500px;
  border-radius: 2rem;
  margin-top: 2rem;
}
.subscribe input {
  padding: 20px;
  width: 800px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  margin-bottom: 15px;
  margin-top: 32px;
}
/* Subscribe CSS */

/* ADDRESS CSS */
.address {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin: 0 100px;
}
.address h3,
.address img {
  margin-bottom: 30px;
}
.address li,
.address p {
  margin-bottom: 10px;
}
.address span {
  font-weight: 800;
  font-size: 1.2rem;
}
.news-sub {
  display: flex;
}

.address input,
.address button {
  width: 150px;
  height: auto;
  margin-top: 25px;
}

h3 {
  font-size: 1.25rem;
}

/* Media Queries */
@media (max-width: 990px) {
  .large-menu-list {
    display: none;
  }

  .menu {
    display: block;
    font-size: 34px;
  }
}

@media (min-width: 990px) {
  .small-menu-list.show {
    display: none;
  }
}
